﻿<script>
    function UserAction() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var response = JSON.parse(this.responseText);
                responseData = "";
                for (let item of response) {
                    responseData += `<tr><td>${item["currentTimeQueryId"]}</td>`;
                    responseData += `<td>${item["time"]}</td>`;
                    responseData += `<td>${item["clientIp"]}</td>`;
                    responseData += `<td>${item["utcTime"]}</td>`;
                    responseData += `<td>${item["clientTimeZone"]}</td></tr>`;
                }
                document.getElementById("output").innerHTML = responseData;
            }
        };
        xhttp.open("GET", "http://localhost:55574/api/allcurrenttime", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();
    }
</script>
<div class="jumbotron">
    <div class="row">
        <button type="button" class="btn btn-primary" onclick="UserAction()">Get Request Log</button>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <td>ID</td>
                        <td>Time</td>
                        <td>Client IP</td>
                        <td>UTC Time</td>
                        <td>Client Time Zone</td>
                    </tr>
                </thead>
                <tbody id="output"></tbody>
            </table>
        </div>
    </div>
</div>