﻿<script>
    function UserAction() {
        var xhttp = new XMLHttpRequest();
        //set the table
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var response = JSON.parse(this.responseText);
                var responseData = `<tr><td>ID</td><td>${ response["currentTimeQueryId"]}</td></tr>`;
                responseData += `<tr><td>Time</td><td>${ response["time"] }</td></tr>`;
                responseData += `<tr><td>Client IP</td><td>${ response["clientIp"] }</td></tr>`;
                responseData += `<tr><td>UTC Time</td><td>${ response["utcTime"] }</td></tr>`;
                responseData += `<tr><td>Client Timezone</td><td>${ response["clientTimeZone"] }</td></tr>`;
                document.getElementById("output").innerHTML = responseData;
            }
        };
        //Get the selected Item
        var e = document.getElementById("time-zone-dropdown");
        var innerText = encodeURIComponent(e.options[e.selectedIndex].value);
        //Add it to the query string
        var url = "http://localhost:55574/api/currenttime?clientTimeZone=";
        url += innerText;
        xhttp.open("GET", url, true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();
    }
</script>

<div class="jumbotron">
    <h2>AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</h2>
    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" onclick="UserAction()">Get the time</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            @Html.DropDownList("Select Time Zone", ViewData["DropDownList"] as List<SelectListItem>, new { @id = "time-zone-dropdown", @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <tbody id="output"></tbody>
            </table>
        </div>
    </div>
</div>

